body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: auto;
}


* {
    box-sizing: border-box;
}
/* Existing styles remain unchanged */

.navbar {
    background-color: #001F3F;
    color: white;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar  website-name{
    text-align: center;
}
.logo img {
    width: 125px;
    height: 75px;
    padding-left: 30px;
}

.nav-elements a {
    color: white;
    margin: 0 5px;
    padding-right: 20px;
    text-decoration: none;
}

.nav-elements a:hover {
    text-decoration: underline;
}

.website-name {
    text-align: left;
    padding-left: 30px;
    flex-grow: 1;
}

.website-name h1 {
    margin: 0;
}

.article-container {
    max-width: 900px;
    margin:140px auto 20px auto ;
    padding-top: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headline {
    text-align: center;
    color: #001F3F;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}

.headline h1 {
    color: #001F3F;
    text-align: left;
}

h2 {
    color: #333;
    text-align: left;
    font-size: 20px;
}

.intro {
    color: #333;
    text-align: justify;
}

/* Existing styles remain unchanged */

.responsive-object-container {
    max-width: 100%;
    height: 800px;
    overflow: hidden;
}

.chart object {
    width: 100%;
    height: 800px;
}

.chartforht{
    margin-bottom: 10px;
}
.chart {
    margin-bottom: 30px;
}

.footer {
    background-color: #001F3F;
    color: white;
    text-align: center;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text {
    color: white;
    text-align: right;
    padding-right: 30px;
}


.footer_text1 {
    color: white;
    text-align: left;
    padding-left: 20px;
}

.lastnote{
    font-size: 12px;
    font-style: italic;
}